@media only screen and (max-width: 600px ) {
    nav{
        background: lightcyan;
        display: none;
    }
    footer{
        display: block;
    }
}
nav{
    padding: 20px;
    float: right;
}
body{
    align-items: center;
}
li{
    display: inline-block;
    margin: 5px;
    float: right;

}
.box{
    height: 500px;
    width: auto;
    background-color: lightblue;
    margin: 8px;
    align-items: center;
    text-align: center;
    font-family: fantasy;
}
.boxAbout{
    height: 500px;
    width: auto;
    background-color: lightblue;
    margin: 8px;
    align-items: center;
    text-align: center;
    font-family: monospace  ;
}
.boxContact{
    height: 500px;
    width: auto;
    background-color: lightblue;
    margin: 8px;
    align-items: center;
    text-align: center;
    font-family: "Cambria", fantasy;
}
h1{
    padding: 10px;
}

footer {
    margin: 10px;
    padding: 50px;
    align-items: center;
}